.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f29613;
    color: white;
    padding: 20px;
}

.header h1 {
    margin: 0;
    font-size: 1.8rem;
}

.header .logoutBtn {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.header .logoutBtn:hover {
    background-color: #cc7e24;
}