{% extends "base.html" %}
{% block title %} Your Home Page {% endblock title %}
{% block content %}

<style>
    #container {
       height: 100vw;
    }

    iframe {
       height: 100vw;
    }
</style>

<head>
    {% load static %}
    {{ form.media }}
</head>
<body>
    <div class="container-fluid">
        <div class="row">

            <!-- Main Content -->
            <div class="content">
                {% if user.is_authenticated %}
                    <h2>Welcome to your home page, {{ user.username }}!</h2>
<!--                    {% if request.session.is_simulation %}-->
<!--                    <h3>Simulation From User {{ request.session.simulator_username }}</h3>-->
<!--                    {% endif %}-->
                    <div>
                        <p>Your current user type is: {{ user.user_type }}</p>
                        <p>Type some HTML here and press the button below.</p>
                        <a href="{% url 'logout' %}" class="logoutBtn">Logout</a>
                        <form method="POST">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert" role="alert">
                                    <div id="form_errors">
                                        {% for key, value in form.errors.items %}
                                            <strong>{{ value }}</strong>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

<!--                            This is where TinyMCE shows up-->
                            <details>
                                <summary>
                                    Click here to display HTML text editor.
                                </summary>
                                <div id="TinyMCEBox" contenteditable="true">{{ form.content }}</div>

                                <script>
                                    /// Fires when an editor is added to the EditorManager collection.
                                    /// On input to the text box, the HTML output visually updates
                                  tinymce.on('addeditor', function( event ) {
                                    var editor = event.editor;
                                    var $textarea = $('#' + editor.id);
                                    console.log($textarea.val());

                                    editor.on('input', (e) => {
                                      if (tinymce.activeEditor != null) {
<!--                                      if (tinymce.activeEditor.isDirty()) {-->
                                        console.clear()
                                        console.log(document.getElementById('id_content_ifr').contentDocument.body.textContent)
                                        tinymce.activeEditor.save()
                                        console.log(tinymce.activeEditor.getBody().textContent)
                                        document.getElementById('websiteOutput').querySelector('iframe').srcdoc = tinymce.activeEditor.getBody().textContent
<!--                                        }-->
                                      }
                                    });
                                  }, true );
                                </script>
                            </details>

                            <button type="submit">View website output and save</button>
                        </form>

                        {% if website_code %}
                                <div id="websiteOutput">
                                    <iframe
                                        id="userCodeOutput"
                                        srcdoc="<html>{{ website_as_string }}</html>"
                                        width="100%"
                                    >
                                    </iframe>
                                </div>
                            {% endif %}
                    </div>
<!--                    {% if message %}-->
<!--                            <p style="color: green;">{{ message }}</p>-->
<!--                    {% endif %}-->
                {% else %}
                    <h2>Welcome to your home page!</h2>
                {% endif %}
            </div>
        </div>
    </div>
</body>
{% endblock content %}